var Const = {
	Message : {
		Error : {
			noMoreSmallToArea : '<{$smarty.const._MI_VOICE_JS_NO_MORE_SMALL_AREA}>',
			noMoreSmallToFont : '<{$smarty.const._MI_VOICE_JS_NO_MORE_SMALL_FONT}>',
			TranslateError    : '<{$smarty.const._MI_VOICE_JS_TRANSLATE_ERROR}>',
			ServerError       : '<{$smarty.const._MI_VOICE_JS_SERVER_ERROR}>'
		}
	},
	Label : {
		licenseInformation : '<{$smarty.const._MI_VOICE_LICENSE_INFORMATION}>',
		serviceName : '<{$smarty.const._MI_VOICE_SERVICE_NAME}>',
		copyright : '<{$smarty.const._MI_VOICE_COPYRIGHT}>'
	}
};
