
	<input type="hidden" ID="ad_lbl_SourceLanguage" value=<{$smarty.const._MD_D3FORUM_AD_LBL_SOURCELANGUAGE}> />
	<input type="hidden" ID="ad_lbl_TargetLanguage" value=<{$smarty.const._MD_D3FORUM_AD_LBL_TARGETLANGUAGE}> />
	<input type="hidden" ID="ad_lbl_DictionaryName" value=<{$smarty.const._MD_D3FORUM_AD_LBL_DICTIONARYNAME}> />
	<input type="hidden" ID="ad_lbl_AddWordBtn" value=<{$smarty.const._MD_D3FORUM_AD_LBL_ADDWORDBTN}> />
	<input type="hidden" ID="ad_lbl_SuccessToAddWord" value=<{$smarty.const._MD_D3FORUM_AD_LBL_SUCCESSTOADDWORD}> />
	<div id="addictionarybt">
	<table style="clear:both;" width="150" border="0" cellspacing="0" cellpadding="0" align="right">
			<tr>
				<td><input  type="button" class="ad_btn_blue01" onclick="adOpenPanelBtnClick()" value=<{$smarty.const._MD_D3FORUM_AD_LBL_ADDWORDOPEN}> /><td>
			</tr>
		</table>
	</div>
	<div id="addictionary">
	</div>


