<script type="text/javascript">
var Const = {
	Label : {
		postedOn : '<{$smarty.const._MD_D3FORUM_ON}>',
		captionClose:'<{$smarty.const._MD_D3FORUM_CAPTION_CLOSE}>',
		optionPublic:'<{$smarty.const._MD_ALBM_FOR_ALL_USERS}>',
		optionUser:'<{$smarty.const._MD_ALBM_FOR_THE_CURRENT_USER_ONLY}>'
	}
};
</script>
<div id="tab_set">
	<div id="tab_box">
		<a href="./">
			<ul class="tab_on">
				<li class="tab_l"></li>
				<li class="tab_m"><span><{$smarty.const._MD_ALBM_FILEMANAGEMENT}></span></li>
				<li class="tab_r"></li>
			</ul>
		</a>
	</div>
</div>
<div id="contents_body">
