<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Toolbox - How to use</title>
<link rel="stylesheet" type="text/css" href="../../../themes/default/common/css/import.css" />
<link rel="stylesheet" type="text/css" href="../../../themes/default/css/import.css" />
<style type="text/css">
    ol.step li { list-style-type: lower-roman; margin-left: 25px; }
</style>
</head>
<body id="howtouse">
<div id="body_bg">
    <div id="wrap">
        <div id="container">
            <div id="head">

                <h1 id="logo"></h1>
                </div>
<div id="contents_body">
            <h2>How to Use (穴あき用例対訳)</h2>
   <div class="inner_text">  

<p>穴あき用例対訳機能では、用例対訳の一部に単語を選択可能な箇所（パラメータ）を含む用例を作成できます。</p>

<p>このページでは、下記の機能について説明します。</p>
<ol><li>1. 用例対訳の入力</li>
<li>2. パラメータの設定</li>
<li>3. 穴あき用例対訳の検索</li>
<li>4. カテゴリの管理</li>
<li>5. インポート・エクスポート</li>
</ol>

<dl><dt>1. 用例対訳の入力</dt>

<dd>以下の手順で、穴あき用例対訳集を作成し、用例対訳を入力できます。</dd>

<dd>
<ol class="step">
<li>穴あき用例対訳の画面右側にある<span class="key_point">「穴あき用例対訳集の作成」</span>ボタンをクリックします。</li>
<li>穴あき用例対訳で使用したい言語にチェックを入れます。また、穴あき用例対訳集の名前を入力して、OKを押します。</li>
<li>作成された穴あき用例対訳の名前をクリックし、用例対訳の編集画面に移動します。</li>
<li>表の1行目に表示されたドロップダウンボックスで、入力したい言語を選択します。</li>
<li><span class="key_point">「穴あき用例対訳の追加」</span>ボタンを押し、新規に行が追加されます。</li>
<li>追加された行をクリックして、用例対訳を入力します。</li>
</ol>
</dd>
</dl>

<dl><dt>2. パラメータの設定</dt>
<dd>次の手順で、用例中に使用するパラメータを設定することができます。</dd>

<dd>
<ol class="step">
<li>パラメータの列をクリックしてポップアップを開きます。</li>
<li><span class="key_point">「パラメータの追加」</span>ボタンをクリックし、パラメータ一覧に行を追加します。パラメータはインデックスの数字で識別され、用例中には[0], [1] などの形式で挿入されます。</li>
<li>パラメータのタイプを選択します。新規のパラメータを追加する場合は、さらに以下の手順を行います。</li>
<li><span class="key_point">「パラメータの編集」</span>ボタンを押して、<span class="key_point">「穴埋め単語集合の編集」</span>ポップアップを開きます。「穴埋め単語集合の追加」を押して新たなパラメータを追加し、その名前を設定します。</li>
<li>各パラメータの横の<span class="key_point">「編集」</span>ボタンを押し、<span class="key_point">「穴埋め単語の編集」</span>ポップアップを開きます。<span class="key_point">「穴埋め単語の追加」</span>ボタンを押して、パラメータで選択可能な単語を設定します。</li>
</ol>

<dd>
デフォルトのパラメータとしては、以下が使用できます。
<ul>
<li>[month]: 月の数値、または名前</li>
<li>[date] : 日付を表す数値</li>
<li>[hour] : 時刻の時(hour)を表す数値</li>
<li>[minute] : 時刻の分(miniute)の数値</li>
<li>[number]: 任意の数値</li>
<li>[text]: 任意の文字列</li>
</ul>
</dd>
</dl>

<dl><dt>3. 穴あき用例対訳の検索</dt>
<dd>穴あき用例対訳集の一覧、または穴あき用例対訳編集画面で<span class="key_point">「検索」</span>リンクをクリックすることで、穴あき用例対訳の検索が行えます。</dd>

<dd>検索を実行すると、検索条件にマッチした用例が表示されます。このとき、用例のパラメータは、ドロップダウンボックスまたはテキストボックスで表示されます。穴埋め単語集合を設定したパラメータは、ドロップダウンボックスから設定した単語を選択できます。また、デフォルトのパラメータは、テキストボックスに値を入力できます。これらのパラメータを設定すると、もう一方の言語の用例にも適切な語が設定されます。</dd>
</dl>

<dl><dt>4. カテゴリの管理</dt>
<dd>穴あき用例対訳の属するカテゴリを設定できます。</dd>

<dd>
<ol class="step">
<li>カテゴリの列をクリックしてポップアップを開きます。</li>
<li>設定したいカテゴリにチェックを入れます。</li>
<li>適切なカテゴリがない場合には、<span class="key_point">「カテゴリの編集」</span>リンクをクリックします。<span class="key_point">「カテゴリの追加」</span>ボタンを押すと、新しいカテゴリを追加できます。</li>
</ol>
</dd>
</dl>


<dl><dt>5. インポート・エクスポート</dt>
<dd>穴あき用例対訳集一覧で<span class="key_point">「インポート」</span>ボタンを押すことで、ローカルのコンピュータのファイルから穴あき用例対訳集のインポートができます。また、各穴あき用例対訳集の行の右端にあるメニューから、<span class="key_point">「エクスポート」</span>を選択することで、ローカルのコンピュータへ穴あき用例対訳集をエクスポートできます。インポート・エクスポートで使用するファイルは、以下のような形式を持つタブ区切りのテキストファイルとなります。</dd>

<dd>以下に、インポート・エクスポートで用いるテキストファイルの形式の例を示します。</dd>

<dd>
<table  border="1" width="600">
<tr><td>id</td><td>type</td><td>cat/par</td><td>ja</td><td>en</td></tr>
<tr><td>1</td><td>parallel_text</td><td>20,21</td><td>&lt;param id=&quot;0&quot; type=&quot;float&quot; /&gt;個より多くの&lt;param id=&quot;1&quot; domains=&quot;41&quot; /&gt;を採ってはいけません。</td><td>Picking more than &lt;param id=&quot;0&quot; type=&quot;float&quot; /&gt; &lt;param id=&quot;1&quot; domains=&quot;41&quot; /&gt; is prohibited.</td></tr>
<tr><td>2</td><td>parallel_text</td><td>20</td><td>この付近には&lt;param id=&quot;0&quot; domains=&quot;40&quot; /&gt;が多く生息しています。</td><td>Many &lt;param id=&quot;0&quot; domains=&quot;40&quot; /&gt; inhabit in this Neighborhood.</td></tr>
<tr><td colspan="6">... (省略)</td></tr>
<tr><td>20</td><td>category</td><td></td><td>案内</td><td>Guide</td></tr>
<tr><td>21</td><td>category</td><td></td><td>ルール</td><td>Rule</td></tr>
<tr><td colspan="6">... (省略)</td></tr>
<tr><td>40</td><td>parameter</td><td></td><td>動物</td><td>animal</td></tr>
<tr><td>41</td><td>parameter</td><td></td><td>植物</td><td>plant</td></tr>
<tr><td colspan="6">... (省略)</td></tr>
<tr><td>60</td><td>word</td><td>40</td><td>ナマケモノ</td><td>sloth</td></tr>
<tr><td>61</td><td>word</td><td>40</td><td>ゴリラ</td><td>gorilla</td></tr>
<tr><td>62</td><td>word</td><td>41</td><td>百合</td><td>lily</td></tr>
</table>
</dd>

<dd>
1行目は項目名です。2行目以降の各行には、用例・カテゴリのいずれかが記載されます。各列に記述する内容は以下の通りです。
<ol>
<li>・1列目: 各行に記述されるデータのID</li>
<li>・2列目: 各行に記述されるデータの種類。（parallel_text, category, parameter, wordのいずれか）</li>
<ul style="margin-left: 10px;">
<li>parallel_text: 用例対訳文の記述。cat/parに、属するカテゴリを記載。</li>
<li>category: カテゴリ名の多言語での記述</li>
<li>parameter: パラメータ名の多言語での記述</li>
<li>word: 穴埋め単語の多言語での記述。cat/parに、属するパラメータを記載。</li>
</ul>
<li>・3列目: 用例の属するカテゴリ、または穴埋め単語が属するパラメータのIDを記載。</li>
<li>・4列目以降: 各言語での表現（1行目の項目名に記述される言語コードについては、<a href="http://www.ethnologue.com/14/iso639/codes.asp">ISO 639の言語コード</a>を参照して下さい）</li>
</ol>
</dd>

<dd>
パラメータ部分は、"param"というタグに記載されます。"id"属性に、パラメータのインデックスが設定されます。また、パラメータのタイプがtype属性に以下の値が設定されます。ただし、言語グリッドが利用するサービスが扱うサービスとの互換性のため、一部の属性は、エクスポート時に以下のように設定されます。
<ul style="margin-left: 10px;">
<li>date -> day_of_month</li>
<li>number -> float</li>
</ul>
</dd>
</dl>

<br />

</dl>

            <div id="footer_inner">
                <address>
                Copyright (C) 2010 Department of Social Informatics, Kyoto University. All rights reserved.
                </address>

            </div>
        </div>
    </div>
</div>
</body>
</html>
