<table width='100%' cellspacing='0' cellpadding='0' border='0'>
  <tr>
    <{foreach item=file key=count from=$block.file}>
      <td align='center' style='margin:0px;padding:5px 0px;'>
        <a href="<{$block.mod_url}>/?page=file&lid=<{$file.lid}>&amp;cid=<{$file.cid}>"><{$file.title}></a> (<{$file.hits}> <{$file.suffix}>)<br />
        <a href="<{$block.mod_url}>/?page=file&lid=<{$file.lid}>&amp;cid=<{$file.cid}>"><img src="<{$file.thumbs_url}>/<{$file.lid}>.<{$file.ext}>" <{$file.width_spec}> alt="<{$file.title}>" title="<{$file.title}>" /></a>
      </td>
      <{if $count is div by $block.cols }>
        </tr>
        <tr>
      <{/if}>
    <{/foreach}>
  </tr>
</table>
