@charset "UTF-8";
/* CSS Document */

/* 全体共通 */

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-size: 95%;
	width:990px;
	margin:auto;
}

a {
	color:#0066FF;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

img {
	border: 0px;
}

textarea {
}

br.clear {
	clear: both;
}


/* ------------------------------------------------------------------------- */
/* 全体レイアウト */

/* ヘッダ(仮) */
div#tbx-header {
	width: 99%;
	height: 64px;
	border:0px solid #000;
	margin-bottom: 8px;
	background-color: #ddd;
	background-position:-28px -24px;
}

/* 本体部分 */
div#tbx-body {
	clear:both;
	width:980px;
	margin:auto;
}

/* フッタ(仮) */
div#tbx-footer {
	clear:both;
	width:980px;
	margin:auto;
	background-color: #ddd;
	text-align:center;
	font-size: 80%;
	margin-top: 24px;
}



/* --------------------------------------- */
/* フローティングレイアウト  */

/* 左寄せ */
.area-fl {
	float:left;
}

.area-fl-p4 {
	float:left;
	padding:4px;
}

.area-fl-p8 {
	float:left;
	padding:8px;
}

/* 右寄せ */
.area-fr {
	float:right;
}

.area-fr-p4 {
	float:right;
	padding:4px;
}

.area-fr-p8 {
	float:right;
	padding:8px;
}

.area-middle-p4 {
	text-align:center;
	padding:4px;
}

.area-middle-p8 {
	text-align:center;
	padding:8px;
}


div.area-bread-crumb-path {
	font-size: 90%;
	margin-bottom: 8px;
}


/* --------------------------------------- */
/* ポップアップ */

/* ポップアップベース */
div.area-popup {
	border:1px solid #ddd;
	padding:8px;
	padding-top:0px;
	margin:auto;
	margin-top:50px;
	background-color:#f1f1f1;
}

/* ポップアップベース・ドラッグ可能 */
/* 2009.12.21 追加 */
div.area-popup-draggable {
	border:4px solid #000;
	background:url(../images/bg/bg_table_header.jpg) repeat-x;
	padding:8px;
	padding-top:0px;
	margin:auto;
	margin-top:100px;
	background-color:#f1f1f1;
}

/* ポップアップベース・バー ドラッグ可能 */
/* 2009.12.21 追加 */
div.draggable-popup-bar {
	height:16px;
	cursor:move;
}

/* ポップアップペイン */
/* 2010.02.10 調整 */
div.popup-pain {
	margin:0px;
	padding:8px;
	border:1px solid #ddd;
	background-color:#fff;
	top:-1px;
	overflow: hidden;
}

div.popup-pain:after {
    content: "";
    display: block;
    clear: both;
    height: 1px;
    overflow: hidden;
}

/*\*/
* html div.popup-pain {
    height: 1em;
    overflow: visible;
}
/**/





/* --------------------------------------- */
/* タブ */


.tab-part-bg {
	margin-top:8px;
	padding-top:2px;
	/* background:url(../images/bg/bg_tab_base.png) repeat-x; */
}

/* タブ領域 */
ul.tab-part {
	 list-style:none;
	 margin:0px;
	 padding:0px;
}

/* タブベース(アクティブ) */
ul.tab-part li {
	float:left;
	margin:0px;
	padding:0px;
	background-color:#fff;
	border:1px solid #ddd;
}

/* タブベース(非アクティブ) */
ul.tab-part li.non-act {
	background-image:url(../images/bg/bg_tab.png);
	background-repeat:repeat-x;
	background-position:bottom;
	background-color:#fff;
}

ul.tab-part li a {
	display:block;
	width: 160px;
	text-align:center;
	vertical-align:middle;
	margin:0px;
	padding-top:4px;
	padding-bottom:4px;
}

/* タブペイン */
/* 2010.02.10 調整 */
.tab-pain {
	margin:0px;
	padding:8px;
	border:1px solid #ddd;
	background-color:#fff;
	position:relative;
	top:-1px;
	overflow: hidden;
}

.tab-pain:after {
    content: "";
    display: block;
    clear: both;
    height: 1px;
    overflow: hidden;
}

/*\*/
* html .tab-pain {
    height: 1em;
    overflow: visible;
}
/**/


/* --------------------------------------- */
/* テーブル・リスト */

/* テーブルヘッダ部分 */
/* 2010.2.10 表現調整 */
thead.table-sortable-head th {
	background:url(../images/bg/bg_table_header.jpg) repeat-x;
	background-position:top;
	background-color:#d5f1ff;
	border-top: 2px solid #d5f1ff;
	padding: 4px;
	padding-right: 8px;
	text-align:left;
	font-size:95%;
}

/* 行・奇数偶数色分け */
tr.odd {
	background-color:#fff;
}
tr.even {
	background-color:#f3f3f3;
}

/* 行・ロールオーバ */
tbody.hover-on tr:hover {
	background-color:#ffffce;
}

/* セル */
tbody td {
	padding:2px;
	padding-right: 8px;
	border: 0px;
}

/* セル下線付き */ 
tbody td.cell-underlined {
	border-bottom:1px solid #ddd;
}

/* セル上線付き */ 
tbody td.cell-toplined {
	border-top:1px solid #ddd;
}

/* セル編集可能 */
td.cell-editable:hover {
	background-color:#ffffce;
	background-image:url(../images/icon/icon_edit.gif);
	background-repeat:no-repeat;
	background-position:right bottom;
	cursor:pointer;
}

/* セル選択状態 */
td.cell-selected {
	background-color:#cedeff;
}

/* テーブルフッタ */
tfoot td {
	background-color:#d5f1ff;
	padding: 4px;
	padding-right: 8px;
	text-align:left;
	font-size:95%;
}

/* ---------------------------- */

/* 見出し・ページタイトル */
/* 2010.2.10 サイズ調整 */
.h-pagetitle {
	font-size: 120%;
	padding-left:8px;
	border-left:8px solid #0362af;
}


/* ---------------------------- */

/* 通知領域 */
.notification-part {
	clear:both;
	background-color:#FFFF99;
	border:1px solid #ffce00;
	font-weight:bold;
	padding: 4px;
	margin:4px;
	font-size: 90%;
	/* 角丸指定 */
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius: 4px;
	/* display: none; */
}

.notification-alert-part {
	clear:both;
	background:url(../images/icon/icon_info_alart.gif) no-repeat;
	background-position:2px 4px;
	background-color:#feb7a0;
	border:1px solid #FF3300;
	color:#990000;
	font-weight:bold;
	padding: 4px;
	padding-left:20px;
	margin:4px;
	font-size: 90%;
	/* 角丸指定 */
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius: 4px;
	/* display: none; */
}

/* ---------------------------- */

/* ページリンク */
a.lnk-detail {
	background:url(../images/icon/icon_arrow_mini.gif) no-repeat;
	background-position:0px 8px;
	padding-left: 16px;
}

/* ページの先頭へ */
a.lnk-return2top {
	margin-top:4px;
	background:url(../images/icon/icon_pagetop.gif) no-repeat;
	background-position:0px 0px;
	padding-left: 20px;
}
