@CHARSET "UTF-8";

td .hover_menu {
	position: absolute;
	text-align:left;
	padding:5px;
	overflow:hidden;
	border:1px;
	border-style:solid;
	background:white;
	z-index:89;
	clear: both;
	width: 100px;
}
td .hover_menu a {
	float: none;
	width: 100px;
	font-size: 11px;
}

div.hover_menu a {
	font-size: 100% !important;
}

#smoothingCalendar,
#checkCalendar {
	background-color: #F7F9FB;
	width: 250px;
}

.timeListBox {
	width: 75px !important;
}

.timeList {
	margin: 0px !important;
	width: 100%;
}

.timeList > tbody > tr > td {
	padding: 0px !important;
	text-align: center;
}
