/**
 * Common component
 */
button.bbs-common-button-component {
	background: transparent url(<{$xoops_imageurl}>/img/btn_blue01.jpg) repeat-x scroll 0 0;
	cursor: pointer;
	border: 1px solid #025DAD;
	display: block;
	width: 100px;
	padding: 4px 0;
	color: #fff;
	font-size: 110%;
}
button.bbs-common-button-component:hover {
	background: transparent url(<{$xoops_imageurl}>/img/btn_blue01_o.jpg) repeat-x scroll 0 0;
}
button.disabled {
	background: transparent url(<{$xoops_imageurl}>/img/btn_gray02.jpg) repeat-x scroll 0 0 !important;
	border: 1px solid #b0b0b0 !important;
	color: #000 !important;
}
button.disabled:hover {
	background: transparent url(<{$xoops_imageurl}>/img/btn_gray02_o.jpg) repeat-x scroll 0 0 !important;
}

/**
 * Modification Mode
 */
.bbs-modification-base-pane {
	background: #f7f7f7;
	padding: 5px;
}
.bbs-modification-component-table {

}
.bbs-modification-component-table td,.bbs-modification-component-table th  {
	border: 1px solid #d6dbe7;
}
.bbs-modification-component-table th {
	background: #fff url(<{$xoops_imageurl}>/img/table_title_bg.jpg) repeat-x left bottom;
	width: 50%;
	font-size: 120%;
	padding: 5px 7px;
}
.bbs-modification-component-table td {
	padding: 10px;
	vertical-align: top;
	background: #fff;
}
.bbs-modification-component-table .blank-cell {
	border: 0;
	background: transparent;
}
.bbs-modification-component-table .post-button {
	margin: 0 4px;
	float: right;
}

.bbs-modification-component-table .post-button .btn_blue04 a {
	width: 70px;
	padding: 3px 0;
}