<div id="header">
	<h1>
		<span class="main">QAMain</span>
		<span class="sub">QASub</span>
	</h1>
	<div id="HeaderButtonArea">
		<a id="LanguageButton" name="LanguageButton" class="GlobalButton" href="<{$mod_url}>/?action=languages">
			<span class="left"></span>
			<span class="center">
	 			<span id="LanguageIcon"></span>
				<span class="main"><{$smarty.const.STF_LABEL_SELECTLANGUAGE}></span>
				<span class="sub">言語選択</span>
			</span>
	   		<span class="right"></span>
		</a>
	  	<a id="HomeButton" name="HomeButton" class="GlobalButton down" href="index.html">
	  		<span class="left"></span>
	  		<span class="center">
	  			<span id="HomeIcon"></span>
	  			<span class="main"><{$smarty.const.STF_LABEL_HOME}></span>
	  			<span class="sub">ホーム</span>
	  		</span>
	  		<span class="right"></span>
	  	</a>
	</div>
</div>