
<link rel="stylesheet" type="text/css" media="all" href="<{$mod_url}>/css/datatable.css" />
<link rel="stylesheet" type="text/css" media="all" href="<{$mod_url}>/css/button.css" />

<!--  over layer -->
<{include file="db:storefront_glayer_language_select.html"}>

<script type="text/javascript">
//<![CDATA[
	Event.observe(window, "load", function() {
  		var pager = new Pager("list_container", 10);

  		$("toTopLink").observe("click", function(event) {
  	  		document.body.scrollTo();
  		});
	});
//]]>
</script>

<div id="tbx-body">
	<button id="how-to-use-button" 
		onclick="window.open('<{$mod_url}>/how-to-use/<{$smarty.const.STF_HOW_TO_USE_LINK}>', '_blank'); return false;">How to use
	</button>
  <h1 class="h-pagetitle" style="float:left;"><{$smarty.const.STF_LABEL_RECEPTION}></h1>
  <br class="clear" />

  <div id="list_container">
  	<{include file="db:storefront__list.html"}>
  </div>

  <div style="margin-top: 8px; text-align:left">
  	<a id="toTopLink" href="#" class="lnk-return2top"><{$smarty.const.STF_LABEL_TO_TOP}></a>
  </div>
</div>
