
<link rel="stylesheet" type="text/css" media="all" href="css/common.css" />
<link rel="stylesheet" type="text/css" media="all" href="css/button.css" />
<link rel="stylesheet" type="text/css" media="all" href="css/communication.css" />

<div id="tbx-body">
  <div style="float:right">
    <!-- Change display language -->
    <div id="bbs-language"> in
      <select>
        <option>English</option>
        <option>German</option>
        <option>Japanese</option>
        <option>Scots Gaelic (Scottish Gaelic)</option>
      </select>
    </div>
    <!-- Active user -->
    <div id="bbs-active-member"><strong>8</strong> user
      <!-- -->
      <a href="#test" title="username1"><img src="images/etc/user_mini.png" alt="" /></a>
      <!-- -->
      <a href="#test" title="username2"><img src="images/etc/user_mini.png" alt="" /></a>
      <!-- -->
      <a href="#test" title="username3"><img src="images/etc/user_mini.png" alt="" /></a>
      <!-- -->
      <a href="#test" title="username4"><img src="images/etc/user_mini.png" alt="" /></a>
      <!-- -->
      <a href="#test" title="username5"><img src="images/etc/user_mini.png" alt="" /></a>
      <!-- -->
      <a href="#test" title="view user list"><img src="images/icon/icon_option_big.png" alt="" /></a></div>
  </div>
  <!-- Bread list -->
  <div id="bread-path"><a href="#test">Language Grid</a> &gt; <a href="#test">Technical Information</a> &gt; <a href="#test">Question mail</a> &gt;</div>
  <!-- Topic title -->
  <div class="area-topic-title">
    <div class="left-part">&nbsp;</div>
    <h1>Topic Title</h1>
    <div class="right-part">&nbsp;</div>
  </div>
  <!-- ==================================================================================================== -->
  <!-- Right side content area -->
  <div id="message-part">
    <!-- Message index -->
    <div class="header-part">
      <div class="area-fl"><img src="images/icon/icon_message.png" style="margin-top:4px;" alt="" /> <strong>12</strong> messages</div>
      <!-- Font size control -->
      <div class="area-fl area-fontsize-ctrl">
        <!-- Font size minimize -->
        <a href="#test" class="btn" title="set font size to smaller">A-</a>
        <!-- Font size maximize -->
        <a href="#test" class="btn" title="set font size to larger">A+</a></div>
    </div>
    <!-- ========================================= -->
    <div class="message-area" style="margin-top: 4px;width:98%;">
      <!-- Title part -->
      <div class="message-title"> <img src="images/etc/user_mini.png" class="message-icon" alt="" /><span class="message-user"> Mother Goose</span> <br />
        (<span class="message-date">English 2009/11/24 15:00</span>)</div>
      <!-- Operatio part -->
      <div class="message-operation"></div>
      <!-- Main text -->
      <textarea style="width:99%;height:11em;">
London Bridge is falling down,
Falling down, falling down,
London Bridge is falling down, 
My fair lady.
1
2
3
4
5
6
7
8
9
0dadada
      </textarea>
    </div>
    <div class="area-middle-p4">
      <!-- -->
      <a href="index.php?action=translate" class="btn-s"><span class="btn-translate">translate</span></a> </div>
    <!-- Progress gauge ======================================================================== -->
    <div class="area-fl-p4">Now Translation: remain 3/4 languages
      <div class="gage-base">
        <div class="gage-bar"></div>
      </div>
      <span style="color:#ff0000;">Submitted by POST button.</span>
    </div>
    <!-- translated text in each language ======================================================================== -->
    <p class="area-fr-p4">all translation <a href="#test">open</a> | <a href="#test">close</a> </p>
    <div class="trans-panel-pane">
      <div class="trans-panel">
        <div class="area-fl"><a href="#test" class="trans-panel-lang-open">Chinese</a></div>
        <div class="area-fr"></div>
        <br class="clear" />
        <div>
          <div class="area-fr-p4">
            <input type="checkbox" />
            commit</span> <br class="clear" />
          </div>
          <br class="clear" />
          <textarea style="width:48%;height: 5em;flaot:left;">translated text</textarea>
          <textarea style="width:48%;height: 5em;flaot:left;" disabled="disabled">return translated text</textarea>
          <div style="text-align:center;margin-top: 4px;"> <a href="#" class="btn">translate</a> </div>
        </div>
      </div>
      <!-- -->
      <div class="trans-panel">
        <div class="area-fl"><a href="#test" class="trans-panel-lang-close">English</a></div>
        <div class="area-fr"><img src="images/etc/loading2.gif" class="loading" alt="" /> now translationg</div>
        <br class="clear" />
      </div>
      <!-- -->
      <div class="trans-panel">
        <div class="area-fl"><a href="#test" class="trans-panel-lang-close">French</a></div>
        <div class="area-fr"><img src="images/etc/loading2.gif" class="loading" alt="" /> now translationg</div>
        <br class="clear" />
      </div>
      <!-- -->
      <div class="trans-panel">
        <div class="area-fl"><a href="#test" class="trans-panel-lang-close">Japanese</a></div>
        <div class="area-fr">waiting</div>
        <br class="clear" />
      </div>
      <div class="area-fr-p8">
        <!-- -->
        <a href="index.php?action=list" class="btn-s" style="padding-left:20px; padding-right:20px;"><span class="btn-post">post</span></a>
        <!-- -->
        <a href="index.php?action=list" class="btn"><span class="btn-cancel">cancel</span></a> </div>
    </div>
  </div>
  <!-- ==================================================================================================== -->
  <!-- Right side content area -->
  <div id="contents-part">
    <div class="header-part">
      <div class="area-fl"><img src="images/icon/icon_file.png" style="margin-top:4px;"  alt="" /> <strong>6</strong> contents</div>
    </div>
    <div class="area-fl-p4">
      <select id="contents-select-popup">
        <option>select a content</option>
        <option selected="selected">plan document</option>
        <option>filename xxxxxxxxxxxxxxxxxxxxxxxxxxxx</option>
        <option>filename xxxxxxxxxxxxxxxxxxxxxxxxxxxx</option>
        <option>filename xxxxxxxxxxxxxxxxxxxxxxxxxxxx</option>
        <option>filename xxxxxxxxxxxxxxxxxxxxxxxxxxxx</option>
        <option>filename xxxxxxxxxxxxxxxxxxxxxxxxxxxx</option>
      </select>
      <a href="#test">unselect</a> </div>
    <div class="area-fr-p4">
      <p></p>
      <a href="#test" class="btn">&lt;</a> <a href="#test" class="btn">&gt;</a> </div>
    <!-- Content image -->
    <div id="contents-preview-area"><img src="images/kari/slide_long.png" class="preview-content"/></div>
    <!-- Content operation -->
    <div class="area-fl-p8">
      <!-- -->
      <a href="#test" class="btn"><span class="btn-zoom">zoom</span></a>
      <!-- -->
      <a href="#test" class="btn"><span class="btn-delete">delete</span></a>
      <!-- -->
      <a href="#test" class="btn"><span class="btn-marker">set marker</span></a></div>
    <br class="clear" />
  </div>
</div>
<br class="clear" />
