<div id="contents_body">
	<span id="ruler" style="visibility:hidden;position:absolute;" class="setting_btn_off"></span>
	<div>
		<div class="contents-header-block clearfix">
			<span id="setting_nowload"><{$smarty.const._MD_LANGRID_NOWLOADING}></span>
			<span id="setting_error_message"></span>
			<{if $xoopsUserIsAdmin != true && ($tab_page == "bbs" || $tab_page == "bbs_view")}>
				<div id="div-page-message" style="display:none;"><{$smarty.const._MD_LANGRID_STG_MSG4}></div>
			<{/if}>
		</div>
		<div id="translation-path-root-panel"></div>
	</div>
</div>
<!-- POPUP -->
<{foreach from=$translationServices key=key item=row name=name}>
<div class="subwindow-border" id="baloon-<{$row.service_id}>" style="position:absolute; display:none;">
	<div class="info-body">
		<form>
			<h1><{$row.service_name}></h1>
			<div class="info-contents">
				<dl>
					<dt><{$smarty.const._MD_LANGRID_INFO_POP_PROVIDER}>:</dt>
					<dd><{$row.organization|escape}>&nbsp;</dd>
					<dt><{$smarty.const._MD_LANGRID_INFO_POP_COPYRIGHT}>:</dt>
					<dd><{$row.copyright|escape}>&nbsp;</dd>
					<dt><{$smarty.const._MD_LANGRID_INFO_POP_LICENSE}>:</dt>
					<dd>
						<{if $row.license == ""}>
						-
						<{else}>
							<{$row.license|escape|httpAutoLink}>
							<{*<a href="<{$row.license|escape:"quotes"}>" target='_blank'><{$row.license|escape}></a>*}>
							&nbsp;
						<{/if}>
					</dd>
					<dt><{$smarty.const._MD_LANGRID_INFO_POP_DESCRIPTION}>:</dt>
					<dd><{$row.description|escape}>&nbsp;</dd>
				</dl>
			</div>
			<div style="margin-top: 8px;">
				<a onclick="Element.hide($('baloon-<{$row.service_id}>'));">
					<{$smarty.const._MD_LANGRID_SETTING_CLOSE_BUTTON}>
				</a>
			</div>
<{*
			<div style="margin-top: 8px; text-align:center;">
				<a class="btn" style="margin-left:150px;" onclick="Element.hide($('baloon-<{$row.service_id}>'));">
					<{$smarty.const._MD_LANGRID_SETTING_CLOSE_BUTTON}>
				</a>
			</div>
*}>
		</form>
		<br class="clear" />
	</div>
</div>
<{/foreach}>

<{include file="langrid-service.php2js.html"}>

<script language="javascript" type="text/javascript">
<!--
var Const = {
	Label: {
		// used by wiki
		// search box
		SearchBoxTitle: '<{$smarty.const._MD_LANGRID_SEARCH_BOX_TITLE}>',
		FilterFrom: '<{$smarty.const._MD_LANGRID_SETTING_FILTER_FROM}>',
		FilterTo: '<{$smarty.const._MD_LANGRID_SETTING_FILTER_TO}>',
		FlterButton: '<{$smarty.const._MD_LANGRID_SETTING_FILTER_BTN}>',
		DispAllPath: '<{$smarty.const._MD_LANGRID_SETTING_DISPLAY_ALL_PATH}>',

		// add path box
		AddPath: '<{$smarty.const._MD_LANGRID_BBS_STG_ADD_PATH_BTN}>',
		AddPathDesc: '<{$smarty.const._MD_LANGRID_ADD_PATH_DESC}>',

		// unknow useing...
		CombinationCheckBox: '<{$smarty.const._MD_LANGRID_BBS_STG_CONBINATION_BTN}>',
		DeleteButton: '<{$smarty.const._MD_LANGRID_BBS_STG_DELETE_BTN}>',
		DictionaryButton: '<{$smarty.const._MD_LANGRID_BBS_STG_DICTIONARY_BTN}>',
		Save: '<{$smarty.const._MD_LANGRID_BBS_STG_SUBMIT_BTN}>',
		Default: '<{$smarty.const._MD_LANGRID_SETTING_DEFAULT_DICTIONARY}>',
		Custom: '<{$smarty.const._MD_LANGRID_SETTING_CUSTOM_DICTIONARY}>',
		Advanced: '<{$smarty.const._MD_LANGRID_SETTING_ADVANCED}>',
		ViewDefaultDict: '<{$smarty.const._MD_LANGRID_SETTING_VIEW_DEFAULT_DICT}>',
		CloseBtn: '<{$smarty.const._MD_LANGRID_SETTING_CLOSE_BUTTON}>',
		Matches: '<{$smarty.const._MD_LANGRID_SETTING_MATCHES}>',
		EditDefaultDict: '<{$smarty.const._MD_LANGRID_SETTING_EDIT_DEFAULT_DICT}>',
        EditTranslationOptions: '<{$smarty.const._MD_LANGRID_SETTING_EDIT_TRANSLATION_OPTIONS}>',
		ReturnTop: '<{$smarty.const._MD_LANGRID_SETTING_RETURN_TOP}>',
		DictSelect: '<{$smarty.const._MD_LANGRID_SETTING_DICT_SELECT}>',
		DictNoSelect: '<{$smarty.const._MD_LANGRID_SETTING_DICT_NO_SELECT}>',
        NoTranslationOptions: '<{$smarty.const._MD_LANGRID_SETTING_NO_TRANSLATION_OPTIONS}>',
		AddButton: '<{$smarty.const._MD_LANGRID_SETTING_ADD_BUTTON}>',
        Lite: '<{$smarty.const._MD_LANGRID_SETTING_LITE}>',
        Rich: '<{$smarty.const._MD_LANGRID_SETTING_RICH}>'
	},
	Message: {
		PathNotFound: '<{$smarty.const._MD_LANGRID_MSG_PATH_NOT_FOUND}>',
		SaveOk:'<{$smarty.const._MD_LANGRID_STG_MSG1}>',
		SaveBBSOk:'<{$smarty.const._MD_LANGRID_STG_MSG2}>',
		ConfirmDeleteBBS: '<{$smarty.const._MD_LANGRID_STG_MSG3}>',
		NoSelectedTranslator: '<{$smarty.const._MD_LANGRID_STG_ERR_MSG1}>',
		NoSelectedLanguages: '<{$smarty.const._MD_LANGRID_STG_ERR_MSG2}>',
		SaveOnError1: '<{$smarty.const._MD_LANGRID_STG_ERR_MSG3}>',
		SaveOnError2: '<{$smarty.const._MD_LANGRID_STG_ERR_MSG4}>',
		AddedMessage: '<{$smarty.const._MD_LANGRID_STG_ADDED_MESSAGE}>',
		SavedMessage: '<{$smarty.const._MD_LANGRID_STG_SAVED_MESSAGE}>',
		CancelConfirm: '<{$smarty.const._MD_LANGRID_CONFIRM_CANCEL}>',
		NoSelectedDict: '<{$smarty.const._MD_LANGRID_DICT_POP_MSG_NO_DICT}>',
		NoSelectedLocalDict: '<{$smarty.const._MD_LANGRID_DICT_POP_MSG_NO_IMP_DICT}>',
		NoSelectedUserDict: '<{$smarty.const._MD_LANGRID_DICT_POP_MSG_NO_COM_DICT}>',
		NoDictionaryLocal: '<{$smarty.const._MD_LANGRID_DICT_MSG_NO_DICTIONARY_LOCAL}>',
		NoDictionaryTemporal: '<{$smarty.const._MD_LANGRID_DICT_MSG_NO_DICTIONARY_TEMPORAL}>',
		OverMaxDictCount: "<{$smarty.const._MD_LANGRID_DICT_MSG_OVER_SELECT_DICTIONARY}>"
	},
	Popup: {
		Title: '<{$smarty.const._MD_LANGRID_DICT_POP_TITLE}>',
		Label1: '<{$smarty.const._MD_LANGRID_DICT_POP_T1}>',
		Label2: '<{$smarty.const._MD_LANGRID_DICT_POP_T2}>',
		Label3: '<{$smarty.const._MD_LANGRID_DICT_POP_T3}>',
		BTN_OK: '<{$smarty.const._MD_LANGRID_DICT_POP_OK}>',
		BTN_CANCEL: '<{$smarty.const._MD_LANGRID_DICT_POP_CANCEL}>',
		MA_Title: '<{$smarty.const._MD_LANGRID_DICT_POP_MORPHOLOGICAL_ANALYZER}>',
		LoadDefault: '<{$smarty.const._MD_LANGRID_DICT_POP_LOAD_DEFAULT}>'
	},
	Images: {
		DefaultDict: '<{$module_img_url}>/icon/icn_default_dictionary.gif',
		CustomDict: '<{$module_img_url}>/icon/icn_custom_dicttionary.gif',
		AddPath: '<{$module_img_url}>/icon/icn_add.gif',
		SaveOn: '<{$module_img_url}>/icon/icn_save.gif',
		SaveOff: '<{$module_img_url}>/icon/icn_save_disable.gif',
		Cancel: '<{$module_img_url}>/icon/icn_cancel.gif',
		Close: '<{$module_img_url}>/icon/icn_close.gif'
	},
	URL: {
		TopPage: '<{$xoops_url}>'
	},
	DEFINE:{
		MaxDicts: '<{$max_dict_count}>'
	},
	Wiki: {
		TitleDBKey: '<{$titledbkey}>'
	}
};
var NowTab = '<{$tab_page}>';
-->
</script>
