
<link rel="stylesheet" type="text/css" media="all" href="css/common.css" />
<link rel="stylesheet" type="text/css" media="all" href="css/button.css" />
<link rel="stylesheet" type="text/css" media="all" href="css/communication.css" />
<
<div id="tbx-body">
  <div style="float:right">
    <!-- Change display language -->
    <div id="bbs-language"> in
      <select>
        <option>English</option>
        <option>German</option>
        <option>Japanese</option>
        <option>Scots Gaelic (Scottish Gaelic)</option>
      </select>
    </div>
    <!-- Active user -->
    <div id="bbs-active-member"><strong>8</strong> user
      <!-- -->
      <a href="#test" title="username1"><img src="images/etc/user_mini.png" alt="" /></a>
      <!-- -->
      <a href="#test" title="username2"><img src="images/etc/user_mini.png" alt="" /></a>
      <!-- -->
      <a href="#test" title="username3"><img src="images/etc/user_mini.png" alt="" /></a>
      <!-- -->
      <a href="#test" title="username4"><img src="images/etc/user_mini.png" alt="" /></a>
      <!-- -->
      <a href="#test" title="username5"><img src="images/etc/user_mini.png" alt="" /></a>
      <!-- -->
      <a href="#test" title="view user list"><img src="images/icon/icon_option_big.png" alt="" /></a></div>
  </div>
  <!-- Bread list -->
  <div id="bread-path"><a href="#test">Language Grid</a> &gt; <a href="#test">Technical Information</a> &gt; <a href="#test">Question mail</a> &gt;</div>
  <!-- Toipi title -->
  <div class="area-topic-title">
    <div class="left-part">&nbsp;</div>
    <h1>Topic Title</h1>
    <div class="right-part">&nbsp;</div>
  </div>
  <!-- ==================================================================================================== -->
  <!-- Right side content area -->
  <div id="message-part">
    <!-- Message index-->
    <div class="header-part">
      <div class="area-fl"><img src="images/icon/icon_message.png" style="margin-top:4px;" alt="" /> <strong>12</strong> messages</div>
      <!-- Font size control -->
      <div class="area-fl area-fontsize-ctrl">
        <!-- Font size minimize -->
        <a href="#test" class="btn" title="set font size to smaller">A-</a>
        <!-- Font size maximum -->
        <a href="#test" class="btn" title="set font size to larger">A+</a></div>
    </div>
    <!-- ========================================= -->
    <div class="message-area" style="margin-top: 4px;width:97%;">
      <!-- Title part -->
      <div class="message-title"> <img src="images/etc/user_mini.png" class="message-icon" alt="" /><span class="message-user"> Mother Goose</span> <br />
        (<span class="message-date">English 2009/11/24 15:00</span>)</div>
      <!-- Operation part -->
      <div class="message-operation"></div>
      <!-- Main text -->
      <textarea style="width:48%;height: 10em;flaot:left;" disabled="disabled">original text</textarea>
      <textarea style="width:48%;height: 10em;flaot:left;">translated text</textarea>
    </div>
    <div class="area-fr-p8">
      <!-- -->
      <a href="c1_com_main.html" class="btn-s"><span class="btn-save">save</span></a>
      <!-- -->
      <a href="c1_com_main.html" class="btn"><span class="btn-cancel">cancel</span></a> </div>
    <br class="clear" />
    <!-- update history ======================================================================== -->
    <p class="area-fl-p4"><strong>History</strong></p>
    <p class="area-fr-p4">all history <a href="#test">open</a> | <a href="#test">close</a> </p>
    <div class="history-panel-pane">
      <div class="history-panel">
        <div class="area-fl"><a href="#test" class="history-panel-open">username postted on 2009/11/18 17:54</a></div>
        <div class="area-fr"></div>
        <br class="clear" />
        <div>
          <p>Here is history area.No edit mode required?</p>
          <br class="clear" />
        </div>
      </div>
      <!-- -->
      <div class="history-panel">
        <div class="area-fl"><a href="#test" class="history-panel-close">username postted on 2009/11/18 17:54</a></div>
        <br class="clear" />
      </div>
      <!-- -->
      <div class="history-panel">
        <div class="area-fl"><a href="#test" class="history-panel-close">username postted on 2009/11/18 17:54</a></div>
        <br class="clear" />
      </div>
      <!-- -->
      <div class="history-panel">
        <div class="area-fl"><a href="#test" class="history-panel-close">username postted on 2009/11/18 17:54</a></div>
        <br class="clear" />
      </div>
    </div>
  </div>
  <!-- ==================================================================================================== -->
  <!-- Right side content area -->
  <div id="contents-part">
    <div class="header-part">
      <div class="area-fl"><img src="images/icon/icon_file.png" style="margin-top:4px;"  alt="" /> <strong>6</strong> contents</div>
    </div>
    <div class="area-fl-p4">plan document</div>
    <div class="area-fr-p4">
      <p></p>
    </div>
    <!-- Content image -->
    <div id="contents-preview-area"><img src="images/kari/slide_long.png" class="preview-content"/></div>
    <!-- Content operation -->
    <div class="area-fl-p8">
      <!-- -->
      <a href="#test" class="btn"><span class="btn-zoom">zoom</span></a></div>
    <br class="clear" />
  </div>
</div>
<br class="clear" />
