<?xml version="1.0" encoding="UTF-8"?>
<!doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<meta http-equiv="content-style-type" content="text/css" />
	<title><{$smarty.const.WQA_APPLICATION_NAME}></title>
	<script language="JavaScript" type="text/javascript" src="<{$smarty.const.APP_ROOT_URL}>/js/prototype-1.6.0.3.js"></script>
	<link rel="stylesheet" type="text/css" href="./css/import.css" />
	<{include file="common/qapost.template.html"}>
</head>
<body>
	<div id="body_bg">
		<div id="wrap">
			<div id="container">
				<div id="head">
					<h1 id="logo"><a href="<{$xoops_url}>"><img src="<{$smarty.const.XOOPS_URL}>/themes/default/common/img/logo.gif" alt="tool box" /></a></h1>
					<div id="font-box">
						<span style="margin-right:10px;">
							<{include file="common/jumplang.template.html"}>
						</span>
					</div>
				</div>
				<div style="clear: both; height: 1px;"></div>

				<div>
					<{if $howToUse}>
						<button id="how-to-use-button" onclick="window.open('<{$howToUse}>', '_blank'); return false; location.href='<{$howToUse}>'; return false;"><{$smarty.const.WQA_COMMON_HOW_TO_USE}></button>
					<{/if}>
				</div>

				<{include file="common/tabs.template.html"}>
				
				<{include file=$template_name}>
				
				<{include file="common/footer.template.html"}>

				
