var Const = {
	Message : {
		Error : {
			noMoreFieldAdd    : '<{$smarty.const._MI_WEBTRANS_JS_FIELD_ADD_ERROR}>',
			fileNameError     : '<{$smarty.const._MI_WEBTRANS_JS_FILE_NAME_ERROR}>',
			templateNameError : '<{$smarty.const._MI_WEBTRANS_JS_TEMPLATE_NAME_ERROR}>',
			noTemplate        : '<{$smarty.const._MI_WEBTRANS_JS_NO_TEMPLATE_MSG}>',
			noPairMsg         : '<{$smarty.const._MI_WEBTRANS_JS_NO_PAIR_MSG}>',
			templateOverMax   : '<{$smarty.const._MI_WEBTRANS_JS_TEMPLATE_OVER_MAX}>',
			templateEmpty     : '<{$smarty.const._MI_WEBTRANS_JS_TEMPLATE_EMPTY}>',
			noMoreSmallToArea : '<{$smarty.const._MI_WEBTRANS_JS_NO_MORE_SMALL_AREA}>',
			TranslateError    : '<{$smarty.const._MI_WEBTRANS_JS_TRANSLATE_ERROR}>',
			ServerError       : '<{$smarty.const._MI_WEBTRANS_JS_SERVER_ERROR}>',
			invalidUrl        : '<{$smarty.const._MI_WEBTRANS_MSG_URL_INVALID}>',
			sessionTimeout    : '<{$smarty.const._MI_WEBTRANS_JS_SESSIONTIMEOUT}>',
			displaySaveError  : '<{$smarty.const._MI_WEBTRANS_JS_DISPLAY_SAVEERROR}>'

		},
		Info : {
			ConfirmOverwrite    : '<{$smarty.const._MI_WEBTRANS_JS_CONFIRM_OVERWRITE}>',
			saveComplate        : '<{$smarty.const._MI_WEBTRANS_JS_SAVE_COMPLATE}>',
			AbortTraslating     : '<{$smarty.const._MI_WEBTRANS_JS_ABORT_TRANSLATION}>',
			NowTraslating       : '<{$smarty.const._MI_WEBTRANS_TOOL_TRANSLATION_DOING}>',
			InitializeTranslate : '<{$smarty.const._MI_WEBTRANS_JS_TRANSLATION_INITIALIZEING}>',
			ApplyingTemplate    : '<{$smarty.const._MI_WEBTRANS_JS_APPLYING_TEMPLATE}>',
			AnalysisHtml        : '<{$smarty.const._MI_WEBTRANS_JS_ANALYSIS_HTML}>',
			licenseAreaMsg      : '<{$smarty.const._MI_WEBTRANS_JS_LICENSE_AREA_MSG}>'
		}
	},
	Label : {
		org_init_msg: "<{$smarty.const._MI_WEBTRANS_JS_ORIGINAL_INIT_MESSAGE}>",
		tran_init_msg : "<{$smarty.const._MI_WEBTRANS_JS_TRANSLATED_INIT_MESSAGE}>",
		temp_init_msg : "<{$smarty.const._MI_WEBTRANS_JS_TEMPLATE_INIT_MESSAGE}>",
		del_pair_btn : '<{$smarty.const._MI_WEBTRANS_TOOL_BUTTON_DELETE_PAIR}>',
		file_name : '<{$smarty.const._MI_WEBTRANS_POPUP_FILE_NAME}>',
		template_name : '<{$smarty.const._MI_WEBTRANS_POPUP_TEMPLATE_NAME}>',
		poptitle1 : '<{$smarty.const._MI_WEBTRANS_POPUP_TITLE_LOAD_TEMPLATE}>',
		poptitle2 : '<{$smarty.const._MI_WEBTRANS_POPUP_TITLE_UPLOAD_TEMPLATE}>',
		poptitle3 : '<{$smarty.const._MI_WEBTRANS_POPUP_TITLE_UPLOAD_HTML}>',
		poptitle4 : '<{$smarty.const._MI_WEBTRANS_POPUP_TITLE_DOWNLOAD_HTML}>',
		poptitle5 : '<{$smarty.const._MI_WEBTRANS_POPUP_TITLE_SAVE_TEMPLATE}>',
		poptitle6 : '<{$smarty.const._MI_WEBTRANS_POPUP_TITLE_DOWNLOAD_TEMPLATE}>',
		licenseInformation : '<{$smarty.const._MI_WEBTRANS_LABEL_LICENSE_INFORMATION}>',
		serviceName : '<{$smarty.const._MI_WEBTRANS_SERVICE_NAME}>',
		copyright : '<{$smarty.const._MI_WEBTRANS_COPYRIGHT}>'
	}
};
