<{include file="db:filesharing_base_top.html"}>
	<{*include file="db:filesharing_header.html"*}>
	<div class="list_table02" style="width:600px;">
		<{if $error_msg != ""}>
			<ul class="errorMsg" style="color:red;">
				<li><{$error_msg}></li>
			</ul>
		<{/if}>
		<FORM id="uploadfile" encType="multipart/form-data" onsubmit="return xoopsFormValidate_uploadfile();" method="post" name="uploadfile" action="?page=submit">
			<TABLE style="text-align:left;" class="outer" cellSpacing="1">
				<tr>
					<th colSpan=2><{$smarty.const._MD_ALBM_FILEUPLOAD}></th>
				</tr>
				<tr>
					<td class="list_line03"><{$smarty.const._MD_ALBM_SELECTFILE}></td>
					<td>
						<INPUT value="<{$filesharing_fsize_byte|string_format:"%.0f"}>" type="hidden" name="MAX_FILE_SIZE[]"class="multi" >
						<INPUT id="upload_file" size="70" type="file" name="upload_file[]"class="multi" >
						<INPUT id="xoops_upload_file[]" value="upload_file" type="hidden" name="xoops_upload_file[]"class="multi" >
					</td>
				</tr>
				<tr>
					<td class="list_line03"><{$smarty.const._MD_ALBM_FILEDESC}></td>
					<td>
						<INPUT id="desc_text" maxLength="255" size="50" type="text" name="desc_text" value="<{$file.description}>">
					</td>
				</tr>
				<tr>
					<td class="list_line03"><{$smarty.const._MD_ALBM_FOLDER}></td>
					<td>
						<{$folder_select}>
					</td>
				</tr>
				<tr>
					<td class="list_line03"><{$smarty.const._MD_ALBM_EDIT_PERMISSION}></td>
					<td>
						<select name="edit_permission" onchange="change_read_perm(this);" style="width:200px;">
							<option value="public"<{if $file.edit == 'public'}> selected<{/if}>><{$smarty.const._MD_ALBM_FOR_ALL_USERS}></option>
							<option value="user"<{if $file.edit == 'user'}> selected<{/if}>><{$smarty.const._MD_ALBM_FOR_THE_CURRENT_USER_ONLY}></option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="list_line03"><{$smarty.const._MD_ALBM_READ_PERMISSION}></td>
					<td>
						<select name="read_permission" id="read_perm" style="width:200px;">
							<option value="public"<{if $file.read == 'public'}> selected<{/if}>><{$smarty.const._MD_ALBM_FOR_ALL_USERS}></option>
							<{if $file.edit != 'public'}>
							<option value="user"<{if $file.read == 'user'}> selected<{/if}>><{$smarty.const._MD_ALBM_FOR_THE_CURRENT_USER_ONLY}></option>
							<{/if}>
						</select>
					</td>
				</tr>
				<tr>
					<td colspan="2" style="text-align:left;border-left:none;border-right:none;border-bottom:none;">
					<{$smarty.const._MD_ALBM_MAXSIZE}>:&nbsp;<{$maxfilesize}> <{$smarty.const._MD_ALBM_FILESIZE_UNIT}>
					</td>
				</tr>
				<tr>
					<td colspan="2" style="text-align:center;border:none;">
						<INPUT id="back"   class="btn_blue01" value="<{$smarty.const._MD_ALBM_BTN_BACK}>"   type="button" name="back" onclick="page_back();" style="width:70px;"> &nbsp; 
						<INPUT id="submit" class="btn_blue01" value="<{$smarty.const._MD_ALBM_BTN_OK}>" type="submit" name="submit" style="width:70px;"> &nbsp; 
					</td>
				</tr>
		</TABLE>
			<INPUT id="ref" value="<{$ref}>" type="hidden" name="ref">
			<INPUT id="fieldCounter"   value="1"   type="hidden" name="fieldCounter">
			<INPUT id="op"             value="submit" type="hidden" name="op">
			<{$gticket}>
		</FORM>
	</div>
	<SCRIPT type="text/javascript">
	<!--//
		function xoopsFormValidate_uploadfile() {
			myform = window.document.uploadfile;
			if (myform.cid.value == "") {
				window.alert("<{$smarty.const._MD_ALBM_INPUT_ALERT_JS|replace:"%1":$smarty.const._MD_ALBM_FILECAT}>");
				myform.cid.focus();
				return false;
			}
			return true;
		}
		
		function page_back(){
			document.location = "<{$ref}>";
		}
		
		function reset_form(){
			$("desc_text").value="";
			$("cid").value="";
			$("upload_file").value="";
		}
	//-->
	</SCRIPT>
	<{*include file="db:filesharing_footer.html"*}>
<{include file="db:filesharing_base_footer.html"}>
