var Const = {
	Message : {
		Error : {
			noMoreSmallToArea : '<{$smarty.const._MI_DOCUMENT_JS_NO_MORE_SMALL_AREA}>',
			noMoreSmallToFont : '<{$smarty.const._MI_DOCUMENT_JS_NO_MORE_SMALL_FONT}>',
			TranslateError    : '<{$smarty.const._MI_DOCUMENT_JS_TRANSLATE_ERROR}>',
			ServerError       : '<{$smarty.const._MI_DOCUMENT_JS_SERVER_ERROR}>',
			Warning			  : '<{$smarty.const._MI_DOCUMENT_JS_TAG_WARNING}>'
		},
		voiceCreating: '<{$smarty.const._MI_DOCUMENT_JS_VOICE_CREATING}>',
		voiceFailured: '<{$smarty.const._MI_DOCUMENT_JS_VOICE_CREATION_FAILED}>',
		voiceUnablePlayer: '<{$smarty.const._MI_DOCUMENT_JS_UNABLE_QT_PLAYER}>',
		voiceUnableLanguage: '<{$smarty.const._MI_DOCUMENT_JS_UNABLE_LANGUAGE}>'
	},
	Image: {
		loading: '<img src="<{$loadingImage}>" />'
	},
	Label : {
		licenseInformation : '<{$smarty.const._MI_DOCUMENT_LICENSE_INFORMATION}>',
		serviceName : '<{$smarty.const._MI_DOCUMENT_SERVICE_NAME}>',
		copyright : '<{$smarty.const._MI_DOCUMENT_COPYRIGHT}>'
	}
};

var VoiceSetting = <{$voiceSetting}>;