<script type="text/javascript">
(function() {
ProtoCalendar.LangFile['toolbox'] = {
  HOUR_MINUTE_ERROR: '<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_HOUR_MINUTE_ERROR}>',
  NO_DATE_ERROR: '<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_NO_DATE_ERROR}>',
  OK_LABEL: '<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_OK_LABEL}>',
  DEFAULT_FORMAT: '<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_DEFAULT_FORMAT}>',
  LABEL_FORMAT: '<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_LABEL_FORMAT}>',
  MONTH_ABBRS: [
	'<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_JAN}>', '<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_FEB}>',
	'<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_MAR}>', '<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_APR}>',
	'<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_MAY}>', '<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_JUN}>',
	'<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_JUL}>', '<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_AUG}>',
	'<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_SEP}>', '<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_OCT}>',
	'<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_NOV}>', '<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_DEC}>'],
  MONTH_NAMES: [
	'<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_JAN}>', '<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_FEB}>',
	'<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_MAR}>', '<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_APR}>',
	'<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_MAY}>', '<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_JUN}>',
	'<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_JUL}>', '<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_AUG}>',
	'<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_SEP}>', '<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_OCT}>',
	'<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_NOV}>', '<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_DEC}>'],
  YEAR_LABEL: ' ',
  MONTH_LABEL: ' ',
  WEEKDAY_ABBRS: [
	'<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_SUN}>', '<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_MON}>',
	'<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_TUE}>', '<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_WED}>',
	'<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_THU}>', '<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_FRI}>',
	'<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_SAT}>'],
  WEEKDAY_NAMES: [
	'<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_SUN}>', '<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_MON}>',
	'<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_TUE}>', '<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_WED}>',
	'<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_THU}>', '<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_FRI}>',
	'<{$smarty.const._MD_D3FORUM_PROTOCALENDAR_SAT}>'],
  YEAR_AND_MONTH: false
};
})();
</script>
