
<script language="JavaScript" type="text/javascript">
Event.observe(window,'load',function() {
	new Ajax.Request('./?action=ajaxdoneAnswer', {
		method: 'get',
		onComplete: function() {
			document.location.href = './?action=qa&name=<{$name}>&id=<{$form.id}>&use_lang=<{$useLang}>';
		}
	});
});
</script>

<div id="webqa">
	<div id="contents_wrapper" class="borderbox">
		<div><{$smarty.const.WQA_LB_DONE_NOW_POSTING}></div>
		<div><{$smarty.const.WQA_LB_DONE_PLEASE_WAIT}></div>
		<div><a href="./"><{$smarty.const.WQA_LB_DONE_TOP}></a></div>
	</div>
</div>

