<style type="text/css">
.fileListContainer {
	height: 200px;
	overflow: auto;
	overflow-x: hidden;
}
#dialog_loading_icon {
	left:460px;
	position:absolute;
	top:180px;
}
div.area-popup {
	margin-top: 0;
}
</style>


<div id="glayer" class="glayer" style="display: none;">
	<img id="dialog_loading_icon" src="<{$xoops_imageurl}>common/img/loading.gif" style="display: none;" />	
</div>
	
<div id="fileDialog" style="position:absolute; display: none; z-index: 1000; text-align: left;">
</div>
<input type="hidden" value="" id="fileOpenMode">

<script type="text/javascript">
function getScrollPosition() {
	var x = document.documentElement.scrollLeft || document.body.scrollLeft;
	var y = document.documentElement.scrollTop || document.body.scrollTop;
	return {"x": x, "y": y};
}

function getScreenSize() {
	var w = document.documentElement.clientWidth || document.body.clientWidth || document.body.scrollWidth;
	var h = document.documentElement.clientHeight || document.body.clientHeight || document.body.scrollHeight;
	return {"h": h, "w": w, "mh": parseInt(h/2), "mw": parseInt(w/2)};
}

function getDocumentSize() {
	var w = document.documentElement.scrollWidth || document.body.scrollWidth;
	var h = document.documentElement.scrollHeight || document.body.scrollHeight;
	return {"h": h, "w": w};
}

function glayerShow() {
	
	Glayer.show("glayer");
	var scrollY = document.documentElement.scrollTop || document.body.scrollTop;
	var windowHeight = document.documentElement.clientHeight || document.body.clientHeight || document.body.scrollHeight;
	$("dialog_loading_icon").show();
}

function clearLoading() {
	$("dialog_loading_icon").hide();
}

function hideFileDialog() {
	$("fileDialog").hide();
	Glayer.hide("glayer");
}

/*
 * options
 *	fileDialogURL
 *	parameters
 */
function openFileDialog(options) {
	options = options || {};
	$("fileOpenMode").setValue(options["mode"]);
	$("dialog_loading_icon").show();
	new Ajax.Updater(
		"fileDialog", 
		options["fileDialogURL"] || "<{$mod_url}>/files/", {
			method : "get",
			onSuccess: clearLoading, 
			evalScripts: true,
			parameters: options["parameters"],
			onComplete: function() {
				$("fileDialog").show();
			}
		}
	);
	
	var containerWidth = $("tbx-body").getDimensions().width / 2;
	$("fileDialog").setStyle({
		top: document.viewport.getScrollOffsets().top+'px',
		left: (containerWidth - 450) + 'px'
	});
}


function openDirectory(event, element) {
	Event.stop(event);
	var url = $(element).readAttribute("href");
	new Ajax.Updater(
		"folderShowContainer",
		url, {
			evalScripts: true
		}
	);
}

function reloadFolder() {
	var parentId = params($("folderShowContainer"))['parentId'];
	new Ajax.Updater(
		"folderShowContainer",
		"<{$mod_url}>/file/?action=_list&parentId=" + parentId, {
			evalScripts: true	
		}
	);
}

var FILE_UPLOAD_WINDOW = $H({
	left:0, 
	top:0, 
	width:920,
	height:750,
	status:	0,
	scrollbars:1,
	menubar:0,
	location:0,
	toolbar:0,
	resizable:0
});

window.openUploadDialog = (function(){
	var win;
	return function(cid) {
		if(win && !win.closed) {
			win.focus();
		} else {
			var url = "<{$xoops_url}>/modules/filesharing/upload.php?cid=" + cid;
			var windowParam = FILE_UPLOAD_WINDOW.map(function(e) { return e[0] + "=" + e[1]; }).join(",");
			win = window.open(url,	"uploadDialog", windowParam);
			Event.observe(window, 'focus', function() {
				if(win.closed) {
					reloadFolder();
					Event.stopObserving(window, 'focus', arguments.callee);
				}
			});
		}
	}
})();


function unselectRowAll(table) {
	$(table).select("td").invoke("removeClassName","cell-selected");
}

function selectRow(tr) {
	unselectRowAll($(tr).up("table"));
	$(tr).select("td").invoke("addClassName", "cell-selected");
	var fileId= $(tr).down("input[name=fileId]");
	if(fileId) {
		fileId.setValue(true);
	}
	
	if($("fileOpenMode").getValue() == "w") {
		setValueByName("fileName", $(tr).down(".name span").innerHTML);
		setValueByName("description", $(tr).down(".description").innerHTML);
		setValueByName("readPermission", $(tr).down(".readPermission input").getValue());
		setValueByName("writePermission", $(tr).down(".writePermission input").getValue());
	}
	
	function setValueByName(name, value) {
		$("saveForms") && $("saveForms").down('input[name='+ name + '],select[name=' + name + ']').setValue(value);
	}
}
</script>