<div id="tab_set">
	<div id="tab_box">
		<a href="javascript:void(0);" onclick="return false;">
			<ul class="tab_on">
				<li class="tab_l">
				</li>
				<li class="tab_m">
					<span>autocomplete demo</span>
				</li>
				<li class="tab_r">
				</li>
			</ul>
		</a>
	</div>
</div>
<div id="contents_body">
	<h2>Demo</h2>
	Language:<input type="text" size="4" name="lang_ja" id="lang_ja" value="ja">
	<textarea id="demo_ja" rows="10" cols="5"></textarea>
	<hr>
	Language:<input type="text" size="4" name="lang_en" id="lang_en" value="en">
	<textarea id="demo_en" rows="10" cols="5"></textarea>
</div>

<{* $Id: autocomplete_setting_main.html 3547 2010-03-19 08:24:23Z yoshimura $ *}>
