<script type="text/javascript">
	var Const = {
		Images : {
			loading : '<img src="<{$xoops_imageurl}>/common/img/loading.gif" width="25" height"25" alt="" />'
		},
		Label : {
			xoops_url : "<{$xoops_url}>",
			title_user_avatar : "<{$smarty.const._MD_USER_LANG_AVATAR}>",
			title_uname : "<{$smarty.const._MD_USER_LANG_NICKNAME}>",
			title_name : "<{$smarty.const._MD_USER_LANG_NAME}>",
			title_email : "<{$smarty.const._MD_USER_LANG_EMAIL}>",
			title_timezone_offset : "<{$smarty.const._MD_USER_LANG_TIMEZONE_OFFSET}>",
			search_result : "<{$smarty.const._MD_USER_LANG_SEARCH_RESULT}>"
		},
		Message : {
			email_not_public : "<{$smarty.const._MD_USER_LANG_EMAIL_NOT_PUBLIC}>",
			search_not_match : "<{$smarty.const._MD_USER_LANG_SEARCH_NOT_MATCH}>",
			error_occured : "<{$smarty.const._MD_USER_LANG_ERROR_OCCURED}>"

		}
	};

</script>